<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<a class="navbar-brand" href="#">NikoNiko</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
  		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Votes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled">Stats</a>
			</li>
		</ul>
		<span class="navbar-text" (click)="logout()">
    		Logout
  		</span>
  	</div>
</nav>