<div class="container">
	<div class="card bg-faded mt-5" [ngClass]="{'card-outline-danger': displayError, 'border-0' : !displayError}">
		<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="p-3">
			<div class="form-group">
			    <label for="username">Login</label>
			    <input type="text" class="form-control" id="username" placeholder="Enter username" required [(ngModel)]="auth.username" name="username">
			</div>
			<div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" placeholder="Enter Password" required [(ngModel)]="auth.password" name="password">
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Submit</button>
		</form>		
		<div class="card-footer error rounded-bottom" *ngIf="displayError">
			<span>
				le login ou le mot de passe est incorrect				
			</span>
		</div>
	</div>
</div>

